{% include 'superadmin/layouts/header.html' %}
 <!--app-content open-->

 <div class="main-content app-content mt-0">
     <div class="side-app">
         <!-- CONTAINER -->

         <div class="main-container container-fluid">
             <!-- PAGE-HEADER -->
             <div class="page-header">
                 <h1 class="page-title">Dashboard</h1>
             </div>

             <!-- PAGE-HEADER END -->

             <!-- ROW OPEN -->
             <div class="row row-cards">
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3 col-6">
                     <a href="country-view.php">
                         <div class="card bg-primary img-card box-primary-shadow">
                             <div class="card-body">
                                 <div class="d-flex">
                                     <div class="text-white">
                                         <h2 class="mb-0 number-font">78</h2>
                                         <p class="text-white mb-0">Country</p>
                                     </div>
                                     <div class="ms-auto">
                                         <i class="fe fe-flag text-white fs-30 me-2 mt-2"></i>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </a>
                 </div>
                 <!-- COL END -->
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3 col-6">
                     <a href="Governorate-view.php">
                         <div class="card bg-warning img-card box-primary-shadow">
                             <div class="card-body">
                                 <div class="d-flex">
                                     <div class="text-white">
                                         <h2 class="mb-0 number-font">78</h2>
                                         <p class="text-white mb-0">Governorate</p>
                                     </div>
                                     <div class="ms-auto"> <i class="fa fa-balance-scale text-white fs-30 me-2 mt-2"></i> </div>
                                 </div>
                             </div>
                         </div>
                     </a>
                 </div>
                 <!-- COL END -->
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3 col-6">
                     <a href="city-view.php">
                         <div class="card bg-danger img-card box-primary-shadow">
                             <div class="card-body">
                                 <div class="d-flex">
                                     <div class="text-white">
                                         <h2 class="mb-0 number-font">78</h2>
                                         <p class="text-white mb-0">City</p>
                                     </div>
                                     <div class="ms-auto"> <i class="fa fa-crosshairs text-white fs-30 me-2 mt-2"></i> </div>
                                 </div>
                             </div>
                         </div>
                     </a>
                 </div>
                 <!-- COL END -->
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3 col-6">
                     <a href="Block-view.php">
                         <div class="card bg-pink img-card box-primary-shadow">
                             <div class="card-body">
                                 <div class="d-flex">
                                     <div class="text-white">
                                         <h2 class="mb-0 number-font">78</h2>
                                         <p class="text-white mb-0">Block</p>
                                     </div>
                                     <div class="ms-auto"> <i class="fe fe-layers text-white fs-30 me-2 mt-2"></i> </div>
                                 </div>
                             </div>
                         </div>
                     </a>
                 </div>
                 <!-- COL END -->
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3 col-6">
                     <a href="banner-view.php">
                         <div class="card bg-gray img-card box-primary-shadow">
                             <div class="card-body">
                                 <div class="d-flex">
                                     <div class="text-white">
                                         <h2 class="mb-0 number-font">78</h2>
                                         <p class="text-white mb-0">Banner</p>
                                     </div>
                                     <div class="ms-auto"> <i class="fe fe-user text-white fs-30 me-2 mt-2"></i> </div>
                                 </div>
                             </div>
                         </div>
                     </a>
                 </div>
                 <!-- COL END -->
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3 col-6">
                     <a href="store-type-view.php">
                         <div class="card bg-lime img-card box-primary-shadow">
                             <div class="card-body">
                                 <div class="d-flex">
                                     <div class="text-white">
                                         <h2 class="mb-0 number-font">78</h2>
                                         <p class="text-white mb-0">Store Type</p>
                                     </div>
                                     <div class="ms-auto"> <i class="fa fa-folder-open text-white fs-30 me-2 mt-2"></i> </div>
                                 </div>
                             </div>
                         </div>
                     </a>
                 </div>
                 <!-- COL END -->
                 <!-- COL END -->
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3 col-6">
                     <a href="store_view.php">
                         <div class="card bg-secondary-gradient img-card box-primary-shadow">
                             <div class="card-body">
                                 <div class="d-flex">
                                     <div class="text-white">
                                         <h2 class="mb-0 number-font">78</h2>
                                         <p class="text-white mb-0">Store</p>
                                     </div>
                                     <div class="ms-auto"> <i class="fe fe-folder text-white fs-30 me-2 mt-2"></i> </div>
                                 </div>
                             </div>
                         </div>
                     </a>
                 </div>
                 <!-- COL END -->
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3 col-6">
                     <a href="Category-view.php">
                         <div class="card bg-purple img-card box-primary-shadow">
                             <div class="card-body">
                                 <div class="d-flex">
                                     <div class="text-white">
                                         <h2 class="mb-0 number-font">78</h2>
                                         <p class="text-white mb-0">Category</p>
                                     </div>
                                     <div class="ms-auto"> <i class="fa fa-asterisk text-white fs-30 me-2 mt-2"></i> </div>
                                 </div>
                             </div>
                         </div>
                     </a>
                 </div>
                 <!-- COL END -->
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3 col-6">
                     <a href="products-view.php">
                         <div class="card bg-orange img-card box-primary-shadow">
                             <div class="card-body">
                                 <div class="d-flex">
                                     <div class="text-white">
                                         <h2 class="mb-0 number-font">78</h2>
                                         <p class="text-white mb-0">Products</p>
                                     </div>
                                     <div class="ms-auto"> <i class="fa fa-th text-white fs-30 me-2 mt-2"></i> </div>
                                 </div>
                             </div>
                         </div>
                     </a>
                 </div>
                 <!-- COL END -->
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3 col-6">
                     <a href="orders-view.php">
                         <div class="card bg-gray-dark img-card box-primary-shadow">
                             <div class="card-body">
                                 <div class="d-flex">
                                     <div class="text-white">
                                         <h2 class="mb-0 number-font">78</h2>
                                         <p class="text-white mb-0">Orders</p>
                                     </div>
                                     <div class="ms-auto"> <i class="fa fa-shopping-cart text-white fs-30 me-2 mt-2"></i> </div>
                                 </div>
                             </div>
                         </div>
                     </a>
                 </div>
                 <!-- COL END -->
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3 col-6">
                     <a href="users-view.php">
                         <div class="card bg-cyan img-card box-primary-shadow">
                             <div class="card-body">
                                 <div class="d-flex">
                                     <div class="text-white">
                                         <h2 class="mb-0 number-font">78</h2>
                                         <p class="text-white mb-0">Users</p>
                                     </div>
                                     <div class="ms-auto"> <i class="fe fe-user text-white fs-30 me-2 mt-2"></i> </div>
                                 </div>
                             </div>
                         </div>
                     </a>
                 </div>
                 <!-- COL END -->
                 <div class="col-sm-4 col-md-4 col-lg-4 col-xl-3 col-6">
                     <a href="reports-view.php">
                         <div class="card bg-cyan img-card box-primary-shadow">
                             <div class="card-body">
                                 <div class="d-flex">
                                     <div class="text-white">
                                         <h2 class="mb-0 number-font">78</h2>
                                         <p class="text-white mb-0">Reports</p>
                                     </div>
                                     <div class="ms-auto"> <i class="fe fe-user text-white fs-30 me-2 mt-2"></i> </div>
                                 </div>
                             </div>
                         </div>
                     </a>
                 </div>
                 <!-- COL END -->
             </div>
             <!-- ROW CLOSED -->


         </div>

         <!-- CONTAINER END -->

     </div>

 </div>

 <!--app-content close-->



 <?php include("footer.php"); ?>